.media__link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000;
    }
    .media__link:hover{
        border-bottom: 1px solid 
        #D8B152;
    }